# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Build directories
build/
dist/
*.egg-info/

# Logs
*.log

# Ignore nltk_data directory
